*{
    margin: 0;
    padding: 0;

}

header{
    margin: 0 auto;
    width: 1360px;
    height: 956px;
    padding-left: 80px;
}
.back{
    width: 750px;
    height: 810px;
    background: #2B7AF1;
    margin-left: 610px;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
}
.logo{
    margin-top: 30px;
    margin-right: 54.21px;

}
.bar{
    margin-top: 25px;
    width: 1090px;
    height: 52px;
}
nav{
    display: flex;
}
.bar1{
   display: inline-flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   margin: 17px 52px 15px 0;
   width: 404px;
   height: 20px;
}

.bar1 a {
color: #111;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
}

.bar1 a {
    position: relative;
	color: black; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}

.bar1 a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: black; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
}


.bar1 a:hover:after, .bar1 a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

 .bar2{
    width: 634px;
    height: 52px;
    display: inline-flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   position: absolute;
 }
.email{
    display: inline-flex;
    width: 180px;
    height: 40px;
   align-items: center;
   gap: 10px;
}
.email img{
    width: 40px;
    height: 40px;
}

.email a{
    width: 130px;
    height: 20px;
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 20px 7px 0;
    line-height: 20px;
}

.phone{
    width: 191px;
    height: 49px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.phone a{
    width: 141px;
    height: 20px;
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0px 7px 0;
    line-height: 20px;
}
.phone img {
    width: 40px;
    height: 40px;
}

.btnNav{
 display: inline-flex;
width: 218px;
height: 52px;
justify-content: center;
align-items: center;
border-radius: 25px;
background: var(---, linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%));
box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.20);
}

.btnNav a{
    padding: 15px 30px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.leftText{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 413px;
    height: 296px;
}
.zag h1{
    color: #111;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 20px;
}
.zag p{
    width: 285px;
    height: 66px;
    color: #111;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.zag{
    width: 413px;
    height: 184px;
}
.arenda{
    width: 1360px;
    height: 461px;
    margin: 0 auto;
}
.btnArenda{
    display: inline-flex;
    width: 251px;
    height: 52px;
    justify-content: center;
align-items: center;
gap: 10px;
border-radius: 25px;
background: var(---, linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%));
box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.20);
}
.btnArenda a{
    padding: 15px 30px;
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.arendasoder{
    width: 413px;
    height: 296px;
    margin: 132px 52px 97px 0px;
}
.arendasoder{
    display: flex;
}
.rightPt{
display: flex;
width: 895px;
height: 473px;
position: relative;
bottom: 90px;
left: 32px;
flex-wrap: wrap;

}

.bloki{
    width: 1280px;
    height: 276px;
    margin: 0 auto;
    position: absolute;
}
.blocks{
    width: 1280px;
    height: 276px;
    display: inline-flex;
    gap: 20px   ;
}
#fotHead{
    width: 305px;
    height: 276px;
}

#w{
width: 305px;
height: 231px;
box-shadow: 0px 5px 20px 0px rgba(17, 17, 17, 0.30);
border-radius: 10px;
background: #FFF;
}
.ph{
    margin: 40px 113px 26px 108px;
}

.blc1 p{
    width: 265px;
    height: 66px;
    color: #111;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
line-height: 24px;
margin: 0 auto;
margin-top: -6px;
}
#t{
width: 265px;
height: 44px;
color: #111;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
line-height: 24px;
margin: 0 auto;
margin-top: -6px;
}




/*///////////////////////////////// main ///////////////////////////////*/


main{
    margin: 0 auto;
    width: 1280px;
}
.section1{
    margin: 0 auto;
    margin-top: 70px;

}
.rent{
    margin: 0 auto;
}
.rent h2 {
    margin-bottom: 40px;
    color: #2B7AF1;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.rentup{
    display: flex;
    width: 1280px;
    gap: 20px;
}

.i{
    background: url(img/backgroundKvasUp.png) center 25%;
    height: 300px;
    width: 738px;
    border-radius: 10px;
}

.i h2 {
    color:  #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 117px 0 0 36px;
}

.i p {
    color:  #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 64px 0 0 36px;
}
.i span{
    margin-left: 5px;
    color:  #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.idown{
    width: 678px;
    height: 33.5px;
    align-items: center;
    margin: 17px 0 0 35px;
}
.idownp img{
    margin-right: 9px;
}
.idownp a {
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 8px 20px;
align-items: center;
margin: 0 0 10px 232px;
}

.idownp{
    display: flex;
    height: 33.5px;
    align-items: center;
}
.idownp p {
    margin: 0;
}
.idownp{
    width: 100%;
    color:  #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.but{
    align-items: center;
    height: 50px;
    margin: 60px auto ;
}
.but a {
    display: block;
    width: 304px;
    height: 50px;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
text-align: center;
align-items: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 0 auto;
line-height: 50px;
}



.ii{
    width: 522px;
    height: 300px;
    background: url(img/Group\ 31.png);

}
.ii h2 {
    color:  #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 117px 0 0 36px;
}

.ii p {
    color:  #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 64px 0 0 36px;
}
.ii span{
    margin-left: 5px;
    color:  #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.idownpp{
    display: flex;
    height: 33px;
    width: 461.5px;
    align-items: center;
}
.idownpp p {
    margin: 0;
}
.idownpp{
    width: 100%;
    color:  #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.idownn{
    margin: 18px 0 0 35px;
}

.idownpp img {
    margin-right: 10px;
}
.idownpp a {
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 8px 20px;
align-items: center;
margin: 0 0 10px 47px;
}

.rentdown{
    margin-top: 20px;
    display: flex;
    width: 1280px;
    gap: 20px;
}

.d{
    width: 522px;
    height: 300px;
    border-radius: 10px;
    background: url(img/Group\ 32.png);
}
.new {
    margin: -20px 0 0 0px;
}
.new p{
    height: 15px;
    width: 103px;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-weight: 600;
align-items: center;
border-radius: 20px;
background: #5CB85C;
padding: 8px 15px;
}
#new{
    font-size: 12px;
    font-weight: 600;
}

.d h2{
    color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 65px 0 0 40px;
}
.d p {
    margin: 42px 0 0 40px;
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.d span{
    margin-left: 7px;
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.ddown{
    margin: 13px 0 0 40px;
    height: 33px;
    width: 461.5px;
    display: flex;
    gap: 11px;
    color: white;
    align-items: end;
}

.ddown p {
    margin: 0   ;
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ddown img{
    width: 22px;
    height: 22px;

}


.ddown a {
    margin-left: 48px;
    text-decoration: none;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 8px 20px;
align-items: center;

}


#sutki{
    padding-top: 20px;
}






.section2{
    width: 1280px;
    height: 310px;
}

.blouk{
    display: flex;
    padding-top: 54px;

}
.bloukText{
    width: 433px;
    height: 209px;
}
#em{
    color:  #2B7AF1;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 40px;
}
#me{
    color:  #111;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.dd{
    width: 738px;
    height: 300px;
    background: url(img/Group\ 33.png) center 25%;
    border-radius: 10px;
    color: white;
}
.dd h2{
    color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 116px 0 0 41px;
}

#nurik{
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 65px 0 0 40px;
}
#nurik span{
    margin-left: 10px;
    color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.dddown{
    margin: 12px 0 0 41px;
    display: flex;
    gap: 10px;
    align-items: end;
}
.dddown p {
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.dddown a {
    margin-left: 267px;
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
    text-decoration: none;
padding: 8px 20px;
align-items: center;
}

.dddown img{
    width: 22px;
    height: 22px;
}


.rightIcon{
    display: flex;
    width: 748px;
    height: 88px;
    padding-top: 103px;
    padding-left: 98px;
    gap: 100px  ;
}

.kli{
    width: 191px;
    height: 88px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.txt {
    padding-top: 3px;
    width: 81px;
    height: 80px;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.txt h3 {
    color: #2B7AF1;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.txt p {
    color: #111;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
}


.wechat{
    width: 186px;
    height: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.txt1 {
    width: 86px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.txt1 h3 {
    color: #2B7AF1;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.txt1 p {
    color: #111;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
}

.house{
    width: 171px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    padding-bottom: 10px    ;
}
.txt2{
    width: 71px;
    height: 80px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    
}
.txt2 h3 {
    color: #2B7AF1;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.txt2 p {
    color: #111;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
}

.underline{
    width: 1280px;
height: 1px;
margin: 100px auto;
border-radius: 1px;
background: var(---, linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%));
}

.sec2{
    width: 1280px;
    padding-top: 152px;
    display: flex;

}

.kontakti{
    display: flex;
    flex-direction: column;
    gap: 41.96px;
    width: 381px;
    height: 238.108px;
    
}
.kontakti h2 {
    color:  #2B7AF1;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.prochee{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 15px;
    
}
#pipi{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 40px;
    
}
#pip{
    color: #111;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.seti{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 482px;
    height: 95px;
    padding-top: 92px;
}

#set{
    width: 202px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.seti a {
    margin-left: 100px;
    text-decoration: none;
    color: white;
width: 157px;
padding: 8px 37px;
align-items: center;
border-radius: 25px;
background: var(---, linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%));

/* Shadow btn */
box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.20);
}

.rightsire{
    margin-left: 40px;
    width: 758px;
height: 429px;
    background: url(img/Map.png) center 25%;
}






/* /////////////////footer////////////////// */






footer{
    margin: 0 auto;
    width: 1440px;
}
.otzivi{
    width: 1280px;
    height: 379px;
    margin: 100px 80px 170px 80px;
}
.backk{
    width: 1440px;
    height: 649px;
    background: url(img/Group\ 35.png);
    margin: 160px auto 100px;
}

.otzivi h1 {
    margin-bottom: 40px;
    padding-top: 100px;
    color: #FFF;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: 130%; /* 46.8px */
}

.blokiOtziv{
    display: flex;
    gap: 20px;

}

.blockkk1{
    width: 630px;
    height: 292px;
    background-color: white;
    border-radius: 10px;
}
.up h2 {
    color: #2B7AF1;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 24px;
margin-left: 4px;
}
.up img{
    width: 120px;
    height: 20px;
}
.mid p {
    color: #111;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 550px;
height: 88px;
margin-bottom: 38px;
}
.dn{
    display: flex;
    width: 551px;
    gap: 268px;
    
}
#yan{
    height: 39px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    color:  #111;
text-align: right;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.ek{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ek h3 {
    color:  #2B7AF1;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 18.2px */

}
.ek p {
    color:  #111;
text-align: right;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
}
.blockkk2{
    width: 630px;
    height: 292px;
    background-color: white;
    border-radius: 10px;
}
.up {
    display: flex;
    gap: 235px;
}
.blik{
    margin: 40px 0px 5px 40px;
}



.blin{
    margin: 40px 10px 10px 42px;
    width: 551px;
    height: 212px;
}

.verh{
    display: flex;
    gap: 218px;
}
.verh img{
    width: 95px;
height: 20px;
}
.verh h2 {
    color: #2B7AF1;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 24px;
}

.snizu{
    display: flex;
    gap: 282px;

}
.ke{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ke h3{
    color: #2B7AF1;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 18.2px */
}


.conec{
    height: 255px;
    display: flex;
    gap: 41px;
}
.anketa{
    width: 393px;
    height: 451px;
    background-color: white;
    border-radius: 10px;
    filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.20));
    margin-left:  190px;
    
}
.anketa h3 {
    margin-bottom: 24px;
    color: #2B7AF1;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 40px;
margin-left: 9px;
}
.anketa input{
    width: 299px;
height: 42px;
border-radius: 10px;
padding-left: 10px;
margin-bottom: 15px;
border-radius: 10px;
border: 1px solid var(---Shadow, rgba(17, 17, 17, 0.50));
}
input placeholder{
    color: var(---Shadow, rgba(17, 17, 17, 0.50));
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#bigas{
    width: 299px;
height: 115px;

}
.kuhnya{
    width: 1440px;
    height: 557px;
    background: url(img/Group\ 39.png);
}
.wow p{
    color: #111;
font-feature-settings: 'liga' off;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
}
.tany h2{
    color: #2B7AF1;
    font-feature-settings: 'liga' off;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    margin-left: 42px;
    margin-top: 19px;
}
.tany p {
    color:#111;
font-feature-settings: 'liga' off;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-left: 42px;
}

.knopik{
    width: 152px;
    height: 50px;
    margin: 19px auto;
}

.anketa a{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 15px 30px;
align-items: center;
border-radius: 25px;
background: var(---, linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%));

/* Shadow btn */
box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.20);
text-decoration: none;
}

.textconec{
    width: 746px;
    height: 214px;
}
.wow{
    position: relative;
}
.wow img{
    position: absolute;
    bottom: 145px;
}

.anketa1{
    width: 313px;
    height: 297px;
    margin: 0 auto;
}

#dorog{
    margin: 40px 0 0 42px;
}

.niiz button{
    width: 150px;
height: 60px;
border-radius: 10px;
background: #2B7AF1;
color:  #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.niiz{
    display: flex;
    padding-top: 415px;
    align-items: center;
    gap: 40px;
    width: 1280px;
    height: 60px;
    margin: 0 auto;
    
}
.niiz a{
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
} 

.naav{
    width: 404px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-right: 12px;
}

.emaiiil{
    display: flex;
    gap: 10px;
    width: 180px;
    height: 40px;
    align-items:center ;
    color: white;
}
.emaiiil img{
    width: 40px;
    height: 40px;
    
}
.phoooone img{
    width: 40px;
    height: 40px;
    
}
.phoooone{
    display: flex;
    gap: 10px;
    width: 180px;
    height: 40px;
    align-items:center ;
    color: white;
}
.socseti{
    display: flex;
    gap: 10px;
}

#pl{
width: 1280px;
height: 1px;
color: white;
margin: 0px auto;
background-color: white;


}
.mob img{
    display: none;
}
.niiz{
    margin-bottom: 22px;
}
.btn{
    cursor: pointer;
    position: relative;
    border-radius: 25px;
background: var(---, linear-gradient(90deg, #FF7A00 0.2%, #FFB039 99.82%));

/* Shadow */
box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.10);
}
.btn:hover{
    border-radius: 25px;
background: linear-gradient(90deg, #DD6A00 0.2%, #F99806 99.82%);
box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.20), 0px 4px 20px 0px rgba(0, 0, 0, 0.10) inset;
}
.btn:active{
    border-radius: 25px;
background: linear-gradient(90deg, #DD6A00 0.2%, #F99806 99.82%);
box-shadow: 0px 10px 20px 0px rgba(255, 122, 0, 0.20), 0px 7px 5px 0px rgba(0, 0, 0, 0.20) inset;
}


@media screen and (max-width: 320px) 
{
    header{
        width: 320px;
        height: 844px;
        padding: 0;
    }
    .back{
        width: 140px;
        height: 530px;
        margin-left: 179px;
    }
    .bar{
        display: none;
    }
    .logo img {
        margin-top: -15px;
        margin-left: 69px;
        width: 87px;
        height: 34.6px;
    }
    .rightPt img{
        width: 304px;
    height: 277px;
    border-radius: 10px 0 0 10px;
    position: absolute;
}
    .rightPt{
        left: -252px;
        top: -105px;
    z-index: 2;
    border-radius: 10px 0px 0px 10px;
    }
    .leftText{
        position: relative;
        z-index: 3;
    }
    .zag{
        width: 268px;
        position: relative;
        left: 25px;
        bottom: 45px;
    }
    .zag h1{
color: #000000;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .zag p {
        font-size: 14px;
        color: #000000;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.14px;
    }
    .btnArenda {
        width: 214px;
        height: 37px;
        position: relative;
        left: 61px;
        top: -186px;
    }
    .btnArenda a {
        display: inline-flex;
        padding: 0;
padding: 10px 30px;
justify-content: center;
align-items: center;
color: #FFF;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    .arenda{
        width: 320px;
        height: 225px;
    }
    .arendasoder{
        width: 320px;
        margin: 132px 0 97px 0;
    }
    .bloki{
        width: 288px;
        height: 450px;
margin-left: 15px;    }
    .blocks{
        width: 288px;
        height: 450px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0;
        gap: 8px;
    }
    #fotHead{
        width: 140px;
        height: 202px;
        
    }
    #w{
        width: 140px;
        height: 202px;
        
    }
    .ph{
        margin: 20px 0px 0 30px;
        width: 60px;
        height: 60px;
        
    }
    #t{
        width: 120px;
        margin: 0 auto;
        color: #000;
text-align: center;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    #bober{
        font-size: 24px;
        margin: 0px 0px 32px 17px;
    }
    .section1{
        margin-top: 80px;
    }
    main{
        width: 320px;
    }
    .rent{
        width: 320px;
    }
    .rentup{
        width: 288px;
        gap: 8px;
        margin: 0 auto;
    }
    .i{
        width: 140px;
        height: 246px;
    }
    .ii{
        width: 140px;
        height: 246px;
        border-radius: 10px;
        
    }
    .i p{
        width: 108.75px;
        margin: 0 auto;
color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
    }
    .i p {
        margin-top: 127px;
    }
    .i span{
        color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .i h2 {
        margin: 0;
        margin-top: 15px;
        color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .idown{
        margin: 0;
        display: flex;
    }
    .idown p{
        display: none;
    }
    .idown img{
        display: none;
    }
    .idown a{
        width: 120px;
        flex-shrink: 0;
        margin: 14px 0 0 10px;
        justify-content: center;
        display: flex;
width: 120px;
padding: 6px 0px;
align-items: center;
gap: 10px;
color: var(--, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
    
    








    /*//////////////////*/


    .ii p{
        width: 108.75px;
        margin: 0 auto;
color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
    }
    .ii p {
        margin-top: 127px;
    }
    .ii span{
        color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .ii h2 {
        margin: 0;
        margin-top: 15px;
        color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .idownn {
        margin: 0;
        display: flex;
    }
    .idownn p{
        display: none;
    }
    .idownn img{
        display: none;
    }
    .idownn a{
        width: 120px;
        flex-shrink: 0;
        margin: 14px 0 0 10px;
        justify-content: center;
        display: flex;
width: 120px;
padding: 6px 0px;
align-items: center;
gap: 10px;
color: var(--, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }

    /*/////////////////////////////////*/



    .d p{
        width: 108.75px;
        margin: 0 auto;
color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
    }
    #new {
        display: none;
    }
    .d p {
        margin-top: 114px;
    }
    .d span{
        color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .d h2 {
        margin: 0;
        margin-top: 30px;
        color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .ddown{
        margin: 0;
        display: flex;
    }
    .ddown p{
        display: none;
    }
    .ddown img{
        display: none;
    }
    .ddown a{
        width: 120px;
        flex-shrink: 0;
        margin: 14px 0 0 10px;
        justify-content: center;
        display: flex;
width: 120px;
padding: 6px 0px;
align-items: center;
gap: 10px;
color: var(--, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
    .d{
        width: 140px;
        height: 246px;
        border-radius: 10px;
    }
    .dd{
        width: 140px;
        height: 246px;
        border-radius: 10px;
        
    }
    .rentdown{
        width: 288px;
        gap: 8px;
        margin: 10px auto;
    }


    .idownp{
        width: 120px;
        
    }
    .idownpp{
        width: 120px;
    }
    .ddown{
        width: 120px;
    }
    .dddown{
        width: 120px;
    }
    /*///////////////////////////////*/

    .dd p{
        width: 108.75px;
        margin: 0 auto;
color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 10px;
    }
    #nurik {
        width: 108.75px;
        margin: 123px 15.25px 0 16px;
    }
    #nurik span{
        color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    #nurik{
        color: var(--, #111);
        text-align: center;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .dd h2 {
        margin: 0;
        margin-top: 15px;
        color: var(--, #111);
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: normal;
    }
    .dddown {
        margin: 0;
        display: flex;
    }
    .dddown p{
        display: none;
    }
    .dddown img{
        display: none;
    }
    .dddown a{
        width: 120px;
        flex-shrink: 0;
        margin: 14px 0 0 10px;
        justify-content: center;
        display: flex;
width: 120px;
padding: 6px 0px;
align-items: center;
gap: 10px;
color: var(--, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
    .but{
        margin: 19px auto;
    }
.but a{
    display: flex;
width: 224px;
height: 17px;
padding: 6px 20px;
justify-content: center;
align-items: center;
color:  #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section2{
    width: 320px;
    
}
#em {
    margin: 5px 183px 0 0;
    color: #2B7AF1;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
#me{
    margin: 22px 0 0 15px;
    color: #111;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 288px;

}
.blouk{
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.bloukText{
    width: 288px;
    height: 176px;

}
.rightIcon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 276px;
    height: 140px;
    padding: 0;
    gap: 1px;
    margin: 0;
    margin: 0 18px;
}
.kli{
    width: 126px;
    margin-right: 21px;
}
.kli img{
    width: 50px;
    height: 50px;
}
.txt{
    gap: 10px;
}
.txt h3{
    color: #2B7AF1;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.txt p{
    color: #000;
font-family: Open Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.wechat{
    width: 128px;
}
.wechat img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.txt1{
    gap: 10px;
}
.txt1 h3{
    color: #2B7AF1;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.txt1 p {
    color: #000;
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.house{
    width: 119px;
    justify-content: flex-end;
}
.house img { width: 50px;
    height: 50px;
margin-left: 20px;}
.txt2{
    gap: 7px;
}
.txt2 h3{
    color: #2B7AF1;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.txt2 p{
    color: #000;
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.underline{
    margin: 50px auto;
    width: 288px;
}
.sec2{
    width: 320px;
    flex-direction: column;
}

.leftsite{
    width: 320px;
}
.kontakti{
    width: 320px;
    margin-top: 10px;
    margin-left: 16px;
    gap: 19px;
    height: 154px;
}
.kontakti h2{
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.prochee img {
    width: 25px;
    height: 25px;
}
#pipi{
    width: 278px;
    height: 25px;
}
#pip {
    color: var(--, #111);
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#set img {
    width: 25px;
    height: 25px;
}
#set{
    width: 25px;
    height: 25px;
}
.vk p {display: none;}
.vk a{
    margin: 0;
}
.instt p {
    display: none;
    
}
.instt a {
    display: none;
}
.seti{
    padding: 0;
    flex-direction: row;
    gap: 15px;
    width: 278px;
    height: 33px;
    margin: 38px 0 0 15px;
}
.vk a {
    display: flex;
width: 154px;
height: 18px;
padding: 8px 20px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}
.rightsire{
    width: 288px;
height: 200px;
flex-shrink: 0;
margin: 0 auto;
margin-top: 30px;
border-radius: 10px;
/* Shadow */
box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.10);
background-size: 302px 216px;
}
.backk{
    width: 320px;
    height: 532px;
    margin: 0;
    margin-top: 96px; 
}
.otzivi{
    margin: 0;
    width: 320px;
}
.otzivi h1 {
    color: var(--, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 0;
padding: 0;
width: 238px;
height: 29px;
margin: 0px 66px 20px 16px;
padding-top: 50px;
}
.blokiOtziv{
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}
.blockkk1{
    width: 288px;
    height: 175px;
    margin: 0 auto;
}
.blockkk2{
    width: 288px;
    height: 198px;
    margin: 0 auto;
}
.blik{
    margin: 0;
}
.up h2{color: var(--, #2B7AF1);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.up{
    margin: 0;
    gap: 54px;
    margin: 10px 0 0 10px;
    height: 33px;
}
.up img {
    width: 80px;
    height: 16px;
}
.mid p{
    color: var(--, #111);
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 268px;
height: 80px;
margin: 0 auto;
width: 268px;

}
.dn{
    width: 288px;
    height: 28px;
    gap: 71px;
margin: 13px 0 10px 0;
    
}
.ek{
padding: 0px 0px 10px 10px;
flex-direction: column;
align-items: flex-start;
gap: 5px;
}
.ek h3 {
    color: var(--, #2B7AF1);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 13px */
}
.ek p {
    color: var(--, #111);
font-family: Montserrat;
font-size: 8px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 10.4px */
}
#yan{
    color: var(--, #111);
text-align: right;
font-family: Montserrat;
font-size: 8px;
font-style: normal;
font-weight: 500;
line-height: normal;
height: 27px;
margin-left: 10px;
}
.blin{
    width: 320px;
    margin: 0;
}
.verh{
    
    gap: 10px;
}
.verh img {
    width: 80px;
    height: 16px;
    margin: 10px 0 0 0;
}
.verh h2 {
    color: var(--, #2B7AF1);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 10px;
}
.blockkk2 .mid{
    width: 288px;
    margin-top: 5px;

}
.mid p {
    margin: 0 10px;
}
.snizu{
    gap: 50px;
}
.ke{
    padding: 0px 0px 10px 10px;
flex-direction: column;
align-items: flex-start;
gap: 5px;
margin-top: 40px;
}
.ke h3 {
    color: var(--, #2B7AF1);
font-family: Montserrat;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 13px */
}
.ke p {
    color: var(--, #111);
font-family: Montserrat;
font-size: 8px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 10.4px */
}
.blockkk2 #yan{
    margin: 40px 0 0 45px;
}
.kuhnya {
    display: none;
}
.conec{
    width: 320px;
    height: 457px;
}
.textconec{
    display: none;
}
.anketa{
    width: 288px;
height: 337px;
flex-shrink: 0;
    margin: 0;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(17, 17, 17, 0.10);
}

.anketa1 h3 {
    color: var(--, #2B7AF1);
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: 0;
margin: 30px 0 14px 0;
width: 288px;
}
.anketa1 input {
    width: 246.645px;
height: 35px;
flex-shrink: 0;
margin: 10px 21.16px 0 20.2px;
width: 236px;
}
#bigas {
    width: 236px;
height: 90px;
flex-shrink: 0;
}
#poper{
    margin: 0;
    margin: 0 21.16px 0 20.2px ;
}
.knopik a {
    display: flex;
width: 198px;
padding: 8px 0px;
justify-content: center;
align-items: center;
}
.knopik{
    margin: 13px 43px;
}
.mob img{
    display: block;
flex-shrink: 0;
width: 106px;
height: 48px;
flex-shrink: 0;
margin: 6px 0 6px 16px;
}
.mob{
    width: 320px;
height: 60px;
flex-shrink: 0;
background: #2B7AF1;
display: flex;
gap: 45px;
}
.society{
    display: flex;
    gap: 10px;
    width: 110px;
    height: 20px;
}
.society img {
    width: 20px;
    height: 20px;
}
.society a {
    width: 20px;
    height: 20px;
    margin: 10px 0 0 0;
}
.idown{
    width: 288px;
}
footer{
    width: 320px;
}
.backk{
    width: 336px;
}
.back{
    width: 141px;
}
}
